@page "/"

<PageTitle>CulinaryPairing - Accueil</PageTitle>

<h1>Bienvenue sur CulinaryPairing</h1>

<p class="lead">
    Plateforme d'aide a la decision culinaire et accords mets-boissons.
</p>

<div class="row mt-4">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Plats</h5>
                <p class="card-text">
                    Gerez vos plats et leurs ingredients.
                </p>
                <a href="/dishes" class="btn btn-primary">Voir les plats</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Accords</h5>
                <p class="card-text">
                    Creez et validez des accords mets-boissons.
                </p>
                <a href="/dishes" class="btn btn-primary">Gerer les accords</a>
            </div>
        </div>
    </div>
</div>